<html>
  <head>
    <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/ui-lightness/jquery-ui-1.8.6.custom.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>
    <script src='javascripts/jquery-ui-1.8.6.custom.min.js'></script>
    <script src='javascripts/swfobject.js'></script>
    <script src='javascripts/FABridge.js'></script>
    <script src='javascripts/web_socket.js'></script>
    <script src='javascripts/json2.js'></script>
    <script src='javascripts/underscore-min.js'></script>
    <script src='javascripts/backbone-min.js'></script>
    <script src='javascripts/handlebars.js'></script>
    <script src='javascripts/models/pin.js'></script>
    <script src='javascripts/models/port.js'></script>
    <script src='javascripts/models/board.js'></script>
    <script src='javascripts/views/view_base.js'></script>
    <script src='javascripts/views/pin_view.js'></script>
    <script src='javascripts/views/port_view.js'></script>
    <script src='javascripts/views/board_view.js'></script>
    <script src='javascripts/application.js'></script>
    <script>
      $(document).ready(function(){
        Rufinol = window.Rufinol
        var boardData = <%=JSON.dump(@board)%>;
        Rufinol.app = new Rufinol.views.Application(
          {
            boardData : boardData,
            webSocketUri : "ws://<%=request.host%>:3001/"
          }
        ).start();
      });
    </script>

    <script id="pin" type="text/html">

        <td>{{pin_number}}</td>
        <td>{{#pwm}}*{{/pwm}}</td>
        <td>{{#reporting}}*{{/reporting}}</td>
        <td>
          <select class='pin-mode'>
            <option value="-1">Unavailable</option>
            <option value="0">Input</option>
            <option value="1">Output</option>
            <option value="2">Analog</option>
            <option value="3">PWM</option>
          </select>
        </td>
        <td>
          <div class="pin-editor-container" style="float:left"></div>
          <div class="pin-value" style="float:left">{{formatted_value}}</div>
          <div style="clear:both"></div>
        </td>

    </script>

    <script id="port" type="text/html">
      <Div style="float:left">
        <h3>
          Port #: {{port_number}}
          {{#reporting}} *Reporting{{/reporting}}
        </h3>
        <table class="digital-pins">
          <tr>
            <th>Pin #</th>
            <th>PWM Capable</th>
            <th>Reporting</th>
            <th>Pin Mode</th>
            <th>Pin Value</th>
          </tr>

        </table>
      </div>
      <div style="clear:both"></div>
    </script>

    <script id="board" type="text/html">

      <h2>{{name}}</h2>
      <div class="digital-ports">
      </div>
      <h2>Analog Pins</h2>
      <table class="analog-pins">
        <tr>
          <th>Pin #</th>
          <th>PWM Capable</th>
          <th>Reporting</td>
          <th>Pin Mode</th>
          <th>Pin Value</th>
        </tr>

      </table>
    </script>

  </body>
</html>
