<html>
  <head>
    <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'></script>
    <script src='javascripts/swfobject.js'></script>
    <script src='javascripts/FABridge.js'></script>
    <script src='javascripts/web_socket.js'></script>
    <script src='javascripts/json2.js'></script>
    <script src='javascripts/underscore-min.js'></script>
    <script src='javascripts/backbone-min.js'></script>
    <script src='javascripts/handlebars.js'></script>
    <script src='javascripts/models/pin.js'></script>
    <script src='javascripts/models/port.js'></script>
    <script src='javascripts/models/board.js'></script>
    <script src='javascripts/views/view_base.js'></script>
    <script src='javascripts/views/pin_view.js'></script>
    <script src='javascripts/views/port_view.js'></script>
    <script src='javascripts/views/board_view.js'></script>
    <script>
      var board = null;
      $(document).ready(function(){
        Rufinol = window.Rufinol
        var boardData = <%=JSON.dump(@board)%>;
        board = new Rufinol.models.Board(boardData);
        var boardView = new Rufinol.views.BoardView({model : board})
        $("body").append(boardView.render().el)


      });

      $(document).ready(function(){
        ws = new WebSocket("ws://<%=request.host%>:3001/");
        ws.onmessage = function(evt) { board.updatePin(JSON.parse(evt.data)); };
        ws.onclose = function() {};
        ws.onopen = function() { console.log("connected");};
      });

    </script>

    <script id="pin" type="text/html">

        <td>{{pin_number}}</td>
        <td>{{#pwm}}*{{/pwm}}</td>
        <td>{{#reporting}}*{{/reporting}}</td>
        <td>Pin Select Goes Here</td>
        <td>
          <div data-pin-field="value">{{formatted_value}}</div>
        </td>

    </script>

    <script id="port" type="text/html">
      <Div style="float:left">
        <h3>
          Port #: {{port_number}}
          {{#reporting}} *Reporting{{/reporting}}
        </h3>
        <table class="digital-pins">
          <tr>
            <th>Pin #</th>
            <th>PWM Capable</th>
            <th>Reporting</th>
            <th>Pin Mode</th>
            <th>Pin Value</th>
          </tr>

        </table>
      </div>
      <div style="clear:both"></div>
    </script>

    <script id="board" type="text/html">

      <h2>Digital Ports</h2>
      <div class="digital-ports">
      </div>
      <h2>Analog Pins</h2>
      <table class="analog-pins">
        <tr>
          <th>Pin #</th>
          <th>PWM Capable</th>
          <th>Reporting</td>
          <th>Pin Mode</th>
          <th>Pin Value</th>
        </tr>

      </table>
    </script>

  </body>
</html>
